html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000000
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fbfffd;
}


a {
    color: #ff6514;
    text-decoration: none;
}

a:hover {
    color: #ff2121;
}

header {
    padding: 1em;
    height: 75px;
}

div#container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

aside#customer_info {
    width: 20%;
    background-color: #f0f0f0;
    padding: 1em;
}

main {
    padding: 1em;
    width: 80%;
}

footer {
    color: white;
    background: #333;
    padding: 1em;
    height: 6em;
}

ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


ul#navbar li {
    float: left;
}

ul#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul#navbar li a:hover {
    background-color: #111;
}

td,th {
    padding: 0.2em;
    text-align: left;
}

/*
nuestro css e3
 */
.col-10 {
    height:350px;
    overflow-y: scroll;
}
#profiles_list{
    position: relative;
    left: 17%;
}

#profile-scroll{
    height: 300px;
    overflow-y: scroll;
}
#second-div-show-organization{
    position: relative;
    left: 11.5%;
}

/******************************************************
EVENT SHOW
 */
#event-show-div-1{
    position: relative;
    left: 11.5%;
    color: black;
    background: white;
}
#event-show-div-2{
    position: relative;
    left: 11.5%;
    background: white;
}
#event-show-div-3{
    position: relative;
    left: 11.5%;
    background: white;
}
#div-event-list-user{
    background: #4e555b;
    color: white;
}
#div-comments-event{
    background: #4e555b;
}
/******************************************************
 */


#gris-background{
    background: rgba(78, 85, 91, 0.94);
}


#black-text{
    color: black;
}
#add-button{
    color: white;
}
#div-principal-text{
    padding: 5%;
}
#comments-home{
    position: relative;
    left: 12%;
}
#text-comments-home{
    color: #2e2e2e;
    background: #e0e1e2;
}
#centre-data-profile{
    position: relative;
    left: 11%;
}



#second-div-particular-event{
    position: relative;
    left: 10%;
}






#div-test{
    background: #1e7e34;
}

#text-div-black{
    color: black;
    font-family: Calibri;
}
#text-div-blue{
    color: darkblue;
    font-family: Courier New;
}
#center-div{
    position: relative;
    left: 47%;
}
#center-div-home{
    position: relative;
    left: 12%;
}
#center-div-home-image{
    position: relative;
    left: 13%;
}



/******************* E4  ******************************
 */
/*-------------------------------------------------------------------------------------------------------------------*/
.card-text-black-text{ color: black;}
p {font-family: Georgia, sans-serif;}
.btn-outline-success{color: white;}
.btn-outline-success#add-button a {color: white;text-decoration:none;}
.card-text#title a{color: #ff6514;font-size: 150%;}
.btn-outline-secondary#view-edit-button a {color: #ff6514;text-decoration:none;}
.profile-name a{color: white;text-decoration:none;}

/*INBOX*/
.inbox{
    position: relative;
    height: 550px;
    left: 12%;
    background: #2E2F30;
    border-radius: 2%;
}
.message-title{
    font-family: Kalam;
    font-size: 450%;
}
.mail-box{
    position: relative;
    top: 10%;
    left: 7%;
}
.information{
    position: relative;
    top: 10%;
}
.message-scroll{height: 300px;overflow-y: scroll;}



/*SING-IN*/
.sing-in{position: relative;left: 12%;background: #333333;}
.card-sign-in{ border-radius: 10%;color: white;background: #2E2F30;}
.card-body-sign-in{background: #2E2F30;}
.card-sign-in-form{position: relative;left: 50%;display: -ms-flexbox;display: flex;
    -ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;color: white;
    background: #2E2F30;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;}

/*SING-UP*/
.card-sign-up-form{position: relative;left: 50%;display: -ms-flexbox;display: flex;
    -ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;color: white;
    background: #2E2F30;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;}

/*HOME*/
#home-photo-background{ background-image: url("home-6.jpg"); position: relative; left: 13%; }

/*USER*/
.user-scroll{height: 100px;overflow-y: scroll;}
.user-scroll p {color: #b0b0b0;}
.user-header{background: #2e2e2e;}
.user{background: #434343;}

/*EVENTS*/
.event-index-card{background: #434343;}
.event-index-card p {color: #b0b0b0;}
.comments-button{width: 6.5%;}
.event-comment-scroll{height: 300px;overflow-y: scroll;}
.event-show-background{background: #434343;}
.event-show-text-color{color: #b0b0b0;}
#event-show-div-3{position: relative;left: 11.5%;background: #434343;color: #434343;}

.new-event{
    padding: 2%;
}
.card-new-event-form{position: relative;left: 40%;display: -ms-flexbox;display: flex;
    -ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;color: white;
    background: #2E2F30;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;}

/*PROFILES*/
.profile-show p {color: black;}

/*ORGANIZATION-SHOW*/
.list-and-publicevents{ position: relative; background: #4e555b; }
.card-user-list{ background: #4e555b; color: white; }
.show-organization-body{ background: #4e555b; }
.organization-show{ position: relative; left: 10%; background: #4e555b; }
.card-header-organization-list-user{ background: #383d41; }
#button-organization-show{ position: relative; left: 4%; }
.organization-index-card{background: #434343;}
.organization-index-card p {color: #b0b0b0;}
.organization-show-card{background: #b0b0b0;}
.organization-show-scroll{background: #434343;}
.organization-show-scroll option{color: #b0b0b0;}

/*ACCOUNT-SHOW*/
.row-account{ display: block; position: relative; left: 10%; background: #202122}
.card-account-information{ background: #2e2e2e;}
.card-account-event-invited{ background: #2e2e2e; }
.account-line{ background: #2E2F30; }

/*SEARCH*/
.col-sm-4-search{position: relative;background: #007bff;width: 100%;padding-right: 15px;padding-left: 15px;}
.search-position{position: relative;left: 72%;}
.card-results { position: relative; left: 11%; display: -ms-flexbox; display: flex; -ms-flex-direction: column;
    flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; }
.results-scroll{ height: 100px; overflow-y: scroll; }


.message-send{
    position: relative;
    height: 400px;
    left: 12%;
    background: #2E2F30;
    border-radius: 2%;
}
.message{
    background: #202122;
}
.btn-send{
    padding: 2%;
}
.message-send-title{
    font-family: Kalam;
    padding: 2%;
}

.add-button-comment{
    position: relative;
    left: 2.3%;
}