<p id="notice"><%= notice %></p>

<h1>Organizations</h1>
<td><button class="btn btn-primary" id="add_button_event"><%=link_to "Add", new_organization_path %></button></td>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

